.fridgeContainer{
    position: relative;
    display: inline-block;
}

.fridgeImg{
    display: block;
    width: 15vw;
    height: auto;
}

.magnets {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}