.magnetImg{
    width: auto;
    height: 2vh;
}

.magnetContainer {
    position: absolute;
    cursor: move; 
    transform: translate(-50%, -50%);
}

.magnetImg {
    display: block;
    user-select: none;
}