body{
  background: url('./assets/backroomsWP.png');
  /* zoom: 5; */
  /* background: black */
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
}

.magnetArea{
   position: absolute;
  top: 5%;   /* leave some margin inside fridge */
  left: 15%;
  width: 80%; /* fill inside fridge minus margins */
  height: 90%;
}