body{
  background: url('./assets/backrooms2.png') no-repeat center center;
  background-size: cover;
  /* zoom: 5; */
  /* background: rgb(17, 14, 5) */
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
}

.mainContainer.zoom {
  zoom: 4;
}

.magnetArea{
   position: absolute;
  top: 5%;   /* leave some margin inside fridge */
  left: 15%;
  width: 80%; /* fill inside fridge minus margins */
  height: 90%;
}

