body{
  background: url('./assets/backroomsWP.png');
  /* zoom: 5; */
  /* background: black */
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
}
